html
    body
        h1  Hello #{username} Welcome to the Student's Home page
        hr
        a(href="/") Logout
        hr
        h3 List of registered courses are:
        for course in userdetails.registered
            li=course 
        span #{message}
        hr
        H3 List of available courses are:
        each val,key in courses
            li
                a(href="/course/"+key+"/"+username ) #{key}: #{val.title}
